@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://i.ibb.co/JdR237x/booksbg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.article-text {
  font-family: "Kurale", serif;
  font-weight: 400;
  font-style: normal;
}

.writing {
  font-family: "Charm";
  font-weight: 400;
  font-style: italic;
  font-size: 80px;
}

/*header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  padding: 5px;
  text-shadow: 3px 3px rgba(255,255,255, .8);
}

h2 {
  font-size: $font-size;
}

.logo {
  width: 200px;
  height: 200px;
}

.nav-icon {
  display: none;
}

a:hover {
  cursor: pointer;
  color: $secondarycolor;
}  

.nav-active {
  display: inline-block;
  color: $secondarycolor;
  font-style: italic;
  padding: 3px 25px 5px 25px;
}

/*Index*/

.main {
  display: grid;
  grid-template-areas: 
  'books books events';
  text-align: center;
  margin: 10px 25px;
  font-family: $article-text; 
}

.books {
  grid-area: books;
  border: $border;
  height: 1fr;
  background-color: white;
  margin: 5px;

  h2 {
    margin-top: 10px;
  }
}

.books-img {
  margin: 20px 5px;
  display: inline-block;
  height: 350px;
  width: 220px;
  border: $border;
}

.events {
  grid-area: events;
  border: $border;
  height: auto;
  background-color: white;
  margin: 5px;

  h2 {
    margin-top: 10px;
  }
}

.events-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.events-container {
  display: flex;
  justify-content: flex-end;
  text-align: left;
  width: 500px;
  height: 250px;
  margin: 10px 0;
  background-color: white;
  border: $border;
  border-radius: 10px;
}

.events-image {
  width: 200px;
  height: auto;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: $border;
}

/*footer*/

footer {
  display: grid;
  grid-template-areas: 
  'con hour map map'
  'con hour map map';
  background-color: black;
  color: $primarycolor;
  border-top: dashed white 2px;
  margin-top: 20px;
}

.footer-h3 {
  text-decoration: underline;
  margin: 20px 0;
}

.contact, .open-hours, .map {
  padding: 15px;
}

.contact {
  grid-area: con;
}

.open-hours {
  grid-area: hour;
}

.map {
  grid-area: map;
}

.social-media {
  background-color: $primarycolor;
  border: $border;
  border-radius: 10px;
  width: 75px;
  padding: 10px;
  margin: 10px;
}

.social-image {
  display: inline-block;
  width: 45px;
  height: 45px;
}

.timetable {
  border: white 5px double;
  margin: 15px 0;

  td {
    padding: 10px 15px;
  }
}

.g-maps {
  border: white 5px double;
  margin: 15px 0;
  width: 400px;
  height: 350px;
}

/*Evenemang*/

.event-main {
  text-align: center;
  font-family: $article-text;

  .evenemang-h2 {
    @include section-h1
  }
  .event-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: auto;
  }
  .event-container {
    @include event-container
  }
  .event-image {
    width: 300px;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: $border;
  }
}

.event-text {
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.event-title {
  display: block;
  text-decoration: underline; 
  margin: 10px 0;
}
.event-date {
  display: block;
  font-weight: bold;
}

.rainbow {
  animation: rainbow-border infinite 10s linear;
}

@keyframes rainbow-border {
  0% {border-color: blue;}
  20% {border-color: indigo;}
  40% {border-color: violet;}
  60% {border-color: red;}
  70% {border-color: orange;}
  80% {border-color: yellow;}
  90% {border-color: green;}
  100% {border-color: blue;}
}

/* Bokhylla */
.bokhylla-h1 {
  @include section-h1 
}


/* Nestling book collection */
.book-collection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap:20px;

  .book-item {
    text-align: center;
    margin-top: 15px;
  }

  .image-container img {
    width: 350px;
    height: 450px;
    margin: 15px 15px;
    border-radius: 10px;
  } 
}
 
 /*Nestling overlay */
.image-container {
  position: relative;
  width: 100%;

  .overlay { 
    @include overlay
  }

  &:hover .overlay {
    background-color: rgba(0,0,0,0.7);
    opacity: 1;
    border: 4px double rgb(255, 255, 255);
    cursor: pointer;
  }
  figcaption h3 {
    font-size: 24px;
  }
}

// Om oss
.about {
  @include about-us; 

  h2, p {
    padding: 15px;
  }

  h2 {
    margin: 20px;
  }

  p {
    margin: 10px 0;
  }
}
/*Media*/

/*Mobile*/
@media screen and (max-width: 480px) {
  .logo {
    width: 150px;
    height: 150px;
  }
  h1 {
  text-shadow: 1.3px 1.3px rgba(255,255,255, .8);
  }
  .writing {
    font-size: 40px;
  }
  .navbar-main {
    overflow: hidden;
    background-color: $primarycolor;
    position: relative;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;

    #navLinks {
      display: none;
    }

    a {
      color: black;
      font-size: 15px;
      display: block;
      padding: 3px 25px 5px 25px;
    }

    a:hover {
      color: $secondarycolor;
    }

    .nav-icon {
      position: absolute;
      display: block;
      right: 10px;
      top: 0;
      .nav-img-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  /*index*/
  .main {
    grid-template-areas: 
    'events events events'
    'books books books';
    margin: 10px 25px;

    h2 {
      font-size: 10px;
    }
  }
  
  .books {
    height: auto;
    margin: 5px;
  }
  
  .books-img {
    margin: 10px;
    height: 220px;
    width: 150px;
  }  

  .events-container {
    width: 250px;
    height: 150px;
    margin: 10px 0;
  }
  
  .events-image {
    width: 100px;
  }
  
  /*Evenemanger*/

  .event-main {
  .event-container {
    height: 160px;
    width: 250px;
  }

  .event-image {
    width: 120px;
  }
  }

  .event-text {
    padding: 5px;
    font-size: 8px;
  }

  .event-title {
  font-size: 10px;
  }
  
  .event-date {
  font-size: 8px;
  }

  /*Bokhylla*/
  
  /* Nestling book collection */
  .book-collection {
    .book-item {
      margin-top: 0;
    }
  
    .image-container img {
      width: 180px;
      height: 230px;
      margin: 5px;
    } 
  }
   
   /*Nestling overlay */
  .image-container {
  
    .overlay { 
      @include overlay;
      left: 5px;
      width: 180px;
      height: 230px;
    }
  
    figcaption h3, figcaption p {
      font-size: 10px;
    }
  }
  
/*footer*/ 
footer {
    h2 {
      font-size: 15px;
      margin: 0;
      padding: 0;
    }
  }
  
  .footer-h3 {
    margin: 10px 0;
  }
  
  .footer-h3, .footer-mail {  
    font-size: 10px;
  }

.contact, .open-hours, .map {
  padding: 10px;
}

.social-media {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.social-image {
  width: 10px;
  height: 10px;
  margin: 5px 0;
}

.timetable {
  border: double 2px;
  margin: 10px 2px 2px 2px;

  td {
    padding: 3px;
    font-size: 8px;
  }
}

.g-maps {
  border: 2px double;
  margin: 10px 0;
  width: 80px;
  height: 100px;
}

.about {
  h2, p {
    padding: 5px;
  }
  h2 {
    font-size: 15px;
    margin: 0px;
  }
  p {
    font-size: 10px;
    margin: 5px;
  }
}
}


/*Desktop and Laptop*/
@media screen and (min-width: 480px) {
header {
  h1 {
    padding: 10px 25px;
  }

}
.navbar-main {
  @include default-nav;

  a, p {
  padding: 5px 10px;
  }
  
  #navLinks {
    display: inline-block;
  }
}
}